<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Войти</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Войти</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputName">Имя пользователя</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Пароль</label>
                        {{ form.password }}
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">Войти</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
